# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
# 依赖项
node_modules/

# 构建输出
dist/
build/

# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 本地环境变量文件
.env*
!.env.example  # 如果你希望保留一个示例配置文件

# macOS 垃圾文件
.DS_Store

# 编辑器/IDE
.vscode/
.idea/

# 测试覆盖率输出
coverage/

# TypeScript 缓存
*.tsbuildinfo

# 输出缓存
.pnp/
.pnp.js

# 系统文件
Thumbs.db